@page
@model AmazingBargain.Pages.Products.IndexModel
@{
    ViewData["Title"] = "Products List";
}

<h1>Products</h1>
<table>
    <style>
        <!-- prevents the issue where table heads touch each other making it hard to see items -->
    th, td {
        padding: 10px;
    }
    </style>
    <thead>
        <tr style="padding: 25px;">
            <th>Image</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)
        {
            <tr style="padding: 25px;">
                <td><img src="@product.ImageUrl" alt="@product.Name" style="width:100px;height:auto;" /></td>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.Price</td>
                <td>

                    <a asp-page="./Edit" asp-route-id="@product.Id">Edit</a>
                    <a asp-page="./Delete" asp-route-id="@product.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- MAKE VISIBLE ONLY IS USER IS A SELLER -->
<a asp-page="./Create" class="btn btn-secondary">Add your product to site</a>

